.core_header {
  padding: 0 7px 0 13px;
  height: 63px;
  /* scrollに応じて要素を浮かせる。 */
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  /* img要素のはめ込みを指定。
    contain => 縦横比を維持しながらリサイズ。全体が見えるようにはめ込む。 */
  object-fit: contain;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.core_title {
  /* google fontを適用。 */
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
}

.core_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.core_menu_avatar {
  margin-left: 10px;
}

.core_menu_profileProgress {
  /* 表示がずれないよう、Avatar画像buttonの幅に合わせる。 */
  width: 64px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.core_menu_postProgress {
  /* 表示がずれないよう、投稿button(カメラicon)の幅に合わせる。 */
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.core_register {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.core_text {
  color: #0699d3;
  text-align: center;
  cursor: pointer;
}

.core_paragraph {
  margin-top: 15px;
}

.core_btnModal {
  background-color: transparent;
  color: gray;
  padding-top: 3px;
  font-size: 32px;
  border: none;
  outline: none;
  /* リンクカーソル */
  cursor: pointer;
}

.core_posts {
  padding: 15px;
}

.core_progress {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.core_progress_text {
  margin-top: 15px;
  font-size: 13px;
  color: #2414bb;
  text-align: center;
}
