.auth_title {
  /* google fontを適用。 */
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
}

.auth_paragraph {
  margin-top: 25px;
  margin-bottom: 20px;
}

.auth_error {
  color: #ff00ff;
  text-align: center;
  margin-top: 10px;
}

.auth_register {
  display: flex;
  flex-direction: column;
}

.auth_headerImage {
  /* img要素のはめ込みを指定。
    contain => 縦横比を維持しながらリサイズ。全体が見えるようにはめ込む。 */
  object-fit: contain;
}

.auth_text {
  color: #0699d3;
  text-align: center;
  /* リンクカーソル */
  cursor: pointer;
}
.auth_text:hover {
  text-decoration: underline;
}

.auth_progress {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.auth_submit_correct {
  color: #219927;
}

.auth_submit_error {
  color: #ff00ff;
}

.auth_guest_text {
  margin-bottom: 10px;
}

.auth_guest_btn {
  font-size: 17px;
  font-weight: bold;
}

.auth_divider {
  margin-top: 30px;
}
