.post {
  margin-bottom: 10px;
  max-width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}

.post_header {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.post_avatar {
  margin-right: 10px;
  z-index: 0;
}

.post_text {
  font-weight: bold;
  padding: 0 15px 15px;
  /* break-all => 単語の途中でも改行。 */
  word-break: break-all;
}

.post_image {
  width: 100%;
  max-height: 400px;
  /* img要素のはめ込みを指定。
    contain => 縦横比を維持しながらリサイズ。全体が見えるようにはめ込む。 */
  object-fit: contain;
}

.post_checkBox {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.post_avatarGroup {
  z-index: 0 !important;
}

.post_liked {
  padding: 0 15px;
  margin-bottom: 7px;
}

.post_comments {
  padding: 7px 15px;
}

.post_comment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  /* break-all => 単語の途中でも改行。 */
  word-break: break-all;
}

.post_commentBox {
  display: flex;
}

.post_input {
  flex: 1;
  padding: 15px;
  border: none;
}

.post_comment_btn {
  font-weight: bold;
}

.post_explanation {
  font-size: 11px;
  color: #888888;
  margin-bottom: 7px;
}

.post_comment_user {
  margin-right: 5px;
  font-size: 14px;
}

.post_progress_small {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
